<style>
  .cart .cart-item {
    height: 100px;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart .cart-item h3 {
    font-size: 28px;
  }
  .cart .cart-item img {
    height: 100%;
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  }
  .cart .cart-item a i {
    font-size: 32px;
  }
  .no-items img {
    margin-top: -80px;
  }
</style>
<%- include('header'); %>

<section id="services" class="service-section pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12">
        <div class="section-title text-center">
          <span
            class="wow"
            style="
              font-size: 20vw;
              opacity: 0.2;
              position: -webkit-sticky;
              position: sticky;
              top: 100px;
            "
            data-wow-delay=".2s"
          >
            <% if (!cartDetails[0]) { %> My Cart <% } %>
          </span>
          <!-- <h1 class="wow fadeInUp" data-wow-delay=".4s">Made With Love</h1> -->
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="section-title text-center">
          <span class="wow" data-wow-delay=".2s">
            <% if (cartDetails[0]) { %> My Cart <% } %>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <% if (cartDetails[0]) { %>
      <ul class="col-lg-8 col-md-10 col-sm-12 cart">
        <% for (i in cartDetails) { %>
        <li class="cart-item">
          <img
            src="<%= cartDetails[i].item.img_url %>"
            alt="<%= cartDetails[i].item.name %>"
          />
          <h3 style="flex-basis: 250px"><%= cartDetails[i].item.name %></h3>
          <h3 style="flex-basis: 30px"><%= cartDetails[i].count %></h3>
          <h3 style="flex-basis: 90px">
            ₹ <%= cartDetails[i].item.price * cartDetails[i].count %>
          </h3>
          <a href="/cart/remove/<%= cartDetails[i].id %>">
            <i class="lni lni-trash"></i>
          </a>
        </li>
        <% } %>
      </ul>
      <% } else { %>
      <div class="col-lg-6 no-items">
        <img src="/img/hungry.gif" alt="" />
      </div>
      <% } %>
    </div>
    <div class="row justify-content-center pb-100">
      <div class="col-lg-3 col-sm-6 d-flex flex-column">
        <% if (cartDetails[0]) { %>
          <a class="main-btn btn-hover wow fadeInUp" href="/cart/purchase">
            Purchase Now
          </a>
        <% } %>
        <a class="main-btn btn-hover wow fadeInUp mt-10" href="/products">
          Continue Shopping
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); %>
