<%- include('header'); %>
<section id="home" class="hero-section">
  <div class="hero-shape">
    <img src="/img/cookie_love.svg" alt="" class="shape" />
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">
            Healthy cookies <span>of your dreams are here</span>
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".4s">
            Our cookies are freshly baked with homemade butter and lots of love
          </p>
          <a class="main-btn btn-hover wow fadeInUp" href="/products">
            Purchase Now
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img src="/img/cookie_love.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s">
            - Our Specialities -
          </span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            We care for your health
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="/img/service/organic.svg" alt="" />
          </div>
          <div class="content">
            <h3>Organic Sugar</h3>
            <p>For diabetes & diet watchers baked using organic sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="icon">
            <img src="/img/service/home.svg" alt="" />
          </div>
          <div class="content">
            <h3>Home Made</h3>
            <p>Ragi, Sathumavu & kambu flour are freshly grinded at home.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="/img/service/nopreservative.svg" alt="" />
          </div>
          <div class="content">
            <h3>Pan India Delivery</h3>
            <p>We deliver our products to every nook and corner of India.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="icon">
            <img src="/img/service/health.svg" alt="" />
          </div>
          <div class="content">
            <h3>Fresh and Healthy</h3>
            <p>
              Almonds & Pistas are dry roasted. Freshly grinded flour is used
              for almond and pista cookies.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="/img/service/nopreservative.svg" alt="" />
          </div>
          <div class="content">
            <h3>No preservatives</h3>
            <p>
              No Vanaspathi/Margarine used in the making of cookies to get
              softness & texture and No preservatives added.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="icon">
            <img src="/img/service/free.svg" alt="" />
          </div>
          <div class="content">
            <h3>Free shipping</h3>
            <p>Free shipping for 3 & above cookies (within Tamil Nadu)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="service-section pt-30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">Recommended Products </h1>
          <span class="wow fadeInUp" data-wow-delay=".4s">Based on people likes</span>
        </div>
      </div>
    </div>
    <div class="row">
      <% for (i in [1,2,3]) { %>

      <div class="col-lg-4 col-md-6">
        <div class="wow fadeInUp" data-wow-delay=".2s">
          <div class="card">
            <figure>
              <img src="<%= products[i].img_url %>" alt="" />
            </figure>
            <section class="details">
              <div class="min-details">
                <h2>
                  <%= products[i].name %>
                  <span><%= products[i].description %></span>
                </h2>
                <h2 class="price">&#8377;<%= products[i].price %></h2>
              </div>

              <div class="options">
                <div class="options-size">
                  <h2>Ingredients</h2>
                  <p><%= products[i].ingredients %></p>
                </div>
              </div>
              <a href="/cart/add/<%= products[i]._id %>" class="btn">
                Add to cart
              </a>
            </section>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</section>

<section id="about" class="about-section pt-150 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 flex-center">
        <div class="pt-50 about-img wow fadeInUp" data-wow-delay=".5s">
          <img src="/img/image 12.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <div class="section-title">
            <span class="wow fadeInUp" data-wow-delay=".2s"> About Us </span>
            <h1 class="wow fadeInUp" data-wow-delay=".4s">
              On-time Delivery and Customer Satisfaction
            </h1>
            <p class="wow fadeInUp" data-wow-delay=".6s">
              We strive for you to have a super-fast delivery experience to
              satisfy your inner cravings.
            </p>
          </div>
          <div
            class="rating-meta d-flex align-items-center wow fadeInUp"
            data-wow-delay=".65s"
          >
            <h5>Rating 4.8</h5>
            <div class="rating">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
          </div>

          <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
            <div class="single-counter">
              <h3 id="secondo1" class="countup" cup-end="15" cup-append="+">
                15 +
              </h3>
              <h5>Varities</h5>
            </div>
            <div class="single-counter position-relative">
              <h3 id="secondo2" class="countup" cup-end="150" cup-append="+">
                150 +
              </h3>
              <h5>Happy users</h5>
            </div>
            <div class="single-counter">
              <h3 id="secondo3" class="countup" cup-end="50" cup-append="+">
                50 +
              </h3>
              <h5>Reviews</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section id="testimonial" class="testimonial-section img-bg pt-150 pb-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title mb-60 text-center">
          <span class="wow fadeInUp" data-wow-delay=".2s">
            - Testimonials -
          </span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            What Our Customers Say
          </h1>
        </div>
      </div>
    </div>

    <div class="row testimonial-wrapper">
      <div class="col-lg-4 col-md-6 -mt-30">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/male_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Sanjeev Kumar</h5>
              <p>Madurai</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 -mt-60">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/male_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Sivaprakash</h5>
              <p>Namakkal</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/female_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Siva</h5>
              <p>Trichy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 -mt-30">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/male_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Sanjeev Kumar</h5>
              <p>Trichy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 -mt-60">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/female_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Priya</h5>
              <p>Ooty</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
          <div class="rating">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam
              non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed
              diam vero eos et accusam et justo duo dolores et ea rebum clita
              kasd gubergren.
            </p>
          </div>
          <div class="info">
            <div class="image">
              <img src="/img/male_avatar.svg" alt="" />
            </div>
            <div class="text">
              <h5>Praveenkanth</h5>
              <p>Chennai</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<%- include('footer'); %>
