<%- include('header'); %>

<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s"> Our Products </span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">Made With Love</h1>
        </div>
      </div>
    </div>
    <% if (locals.user.isAdmin == true) { %>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 d-flex justify-content-center flex-column">
            <a class="main-btn btn-hover wow fadeInUp mb-10" href="/products/create">
              Add a new product
            </a>
            <a class="main-btn btn-hover wow fadeInUp" href="/products/modify">
              Modify Products
            </a>
        </div>
      </div>
    <% } %>
    <div class="row">
      <% for (i in products) { %>

      <div class="col-lg-4 col-md-6">
        <div class="wow fadeInUp" data-wow-delay=".2s">
          <div class="card">
            <figure>
              <img src="<%= products[i].img_url %>" alt="" />
            </figure>
            <section class="details">
              <div class="min-details">
                <h2>
                  <%= products[i].name %>
                  <span><%= products[i].description %></span>
                </h2>
                <h2 class="price">&#8377;<%= products[i].price %></h2>
              </div>

              <div class="options">
                <div class="options-size">
                  <h2>Ingredients</h2>
                  <p><%= products[i].ingredients %></p>
                </div>
              </div>
              <a href="/cart/add/<%= products[i]._id %>" class="btn">
                Add to cart
              </a>
            </section>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% if (locals.user.isAdmin == true) { %>
    <div class="container pt-50 pb-50">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 d-flex justify-content-center flex-column">
            <a class="main-btn btn-hover wow fadeInUp mb-10" href="/products/create">
              Add a new product
            </a>
            <a class="main-btn btn-hover wow fadeInUp" href="/products/modify">
              Modify Products
            </a>
        </div>
      </div>
    </div>
  <% } %>
</section>

<%- include('footer'); %>
