<style>
  /* .profile-details {
    font-size: 150%;
  } */
  .details-name h5 {
    color: #e8505b;
  }
  .purchase-details .table-head {
    color: #e8505b;
    font-weight: bold;
    font-size: 130%;
  }
</style>
<%- include('header'); %>

<section id="services" class="service-section pt-100 pb-50">
  <div class="container">
    <div class="row justify-content-center pb-50">
      <div class="col-lg-4 col-md-6">
        <div class="wow fadeInUp text-center" data-wow-delay=".2s">
          <h3>Your Profile</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10 col-sm-12">
        <div class="wow fadeInUp profile-details" data-wow-delay=".2s">
          <dl class="row">
            <dt class="col details-name"><h5>Name</h5></dt>
            <dd class="col details-value"><h5><%= user.name %></h5></dd>
          </dl>
          <dl class="row">
            <dt class="col details-name"><h5>EmailID</h5></dt>
            <dd class="col details-value"><h5><%= user.email %></h5></dd>
          </dl>
          <dl class="row">
            <dt class="col details-name"><h5>Phone Number</h5></dt>
            <dd class="col details-value"><h5><%= user.phone %></h5></dd>
          </dl>
          <dl class="row">
            <dt class="col details-name"><h5>Address</h5></dt>
            <dd class="col details-value"><h5><%= user.address %></h5></dd>
          </dl>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 d-flex justify-content-center">
          <a class="main-btn btn-hover wow fadeInUp" href="/users/sign-out">
            Logout
          </a>
        </div>
        <!-- <% if (locals.user.isAdmin == true) { %>
        <div class="col-3 d-flex justify-content-center">
          <a class="main-btn btn-hover wow fadeInUp" href="/products/create">
            Admin Page
          </a>
        </div>
        <% } %> -->
      </div>
      <% if (orders[0]) { %>
      <div class="row justify-content-center pt-50 pb-40">
        <div class="col-lg-10 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
          <div class="wow fadeInUp pb-20" data-wow-delay=".2s">
            <h3>Purchase History</h3>
          </div>
              <table class="purchase-details table table-responsive">
                <tr class="table-head">
                  <td>S.NO</td>
                  <td>Date</td>
                  <td>Status</td>
                  <td>Items</td>
                  <td>Total Amount</td>
                </tr>
              <% for (i in orders) { %>
                <tr>
                  <td><%= parseInt(i)+1 %></td>
                  <td><%= orders[i].date %></td>
                  <td><%= orders[i].status %></td>
                  <td><% for (j in orders[i].cartDetails) { %>
                    <%= orders[i].cartDetails[j].item %> - <%= orders[i].cartDetails[j].count %> <br>
                    <% } %> </td>
                  <td><%= orders[i].totalAmount %></td>
                </tr>
              <% } %>
            </table>

        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%- include('footer'); %>
